#map {
    height: 768px;
}

.clan-name-label {
    background: rgba(33, 33, 33, 0.7);
    color: white;
    width: 7em;
    min-width: 7em;
    height: 12pt;
    min-height: 12pt;
    text-align: center;
}

.base-red {
    filter: hue-rotate(0deg);
}

.base-green {
    filter: hue-rotate(120deg);
}

.base-blue {
    filter: hue-rotate(-120deg);
}
